.Index-Box {
    height: 100%;
    width: 100%;
    background-color: #f5f5f5;
}

.TopMenu {
    height: 80px;
    width: 100%;
    background-color: #ffffff;
    padding: 0;
    margin: 0;
}

.Index-Logo{
    float: left;
    height: 70px;
    width: 200px;
    background-image: url("../assets/logo.png");
    background-size: contain;
    background-repeat: no-repeat;
    text-align: right;
    align-content: center;
    color: #68dec4;
    font-size: 50px;
}

.TopMenuGroup {
    height: 80px;
    float: right;
    align-content: center;
}

.TopMenu-Nav {
    padding: 5px;
    margin: 50px;
    color: #000000;
    font-size: 20px;
}

.Introduce {
    height: calc(100% - 80px);
    width: 100%;
    overflow: scroll;
}

.intro_1 {
    width: 100%;
    height: 100vh;
    background-image: url(../assets/intro_1.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.intro_2 {
    width: 100%;
    height: 100vh;
    background-image: url(../assets/intro_2.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.intro_3 {
    width: 100%;
    height: 100vh;
    background-image: url(../assets/intro_3.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.intro_4 {
    width: 100%;
    height: 100vh;
    background-image: url(../assets/intro_4.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.intro_btnSignIn1 {
    width: 20vw;
    height: 7vh;
    position: relative;
    top: 60%;
    left: 69%;
    color: #2c2c2c;
    background-color: #68dec4;
    border-radius: 15px;
}

.intro_btnSignIn2 {
    width: 20vw;
    height: 7vh;
    position: relative;
    top: 60%;
    left: 40vw;
    color: #2c2c2c;
    background-color: #68dec4;
    border-radius: 15px;
}